{% extends 'base/base.html.twig' %}

{% block body %}
	<h1>Contact</h1>
	<div class="shadow-lg rounded p-4 mb-3 mt-5">
		github - <a href="https://github.com/kikod4mn">kikod4mn</a>
	</div>
{% endblock %}

{% block title %}
	Contact Information
{% endblock %}

