{% extends 'base/base.html.twig' %}

{% block body %}
	<h1>Privacy Policy</h1>
	<h4>If you dont agree to the terms, leave this website. By using this website, you agree.</h4>
	<div>
		<p>Data stored for each visit.</p>
		<ul>
			<li>IP address</li>
			<li>Browser</li>
			<li>Page visited</li>
			<li>Time of visit</li>
		</ul>
		
		No other cookies save for session management are used.
	</div>
{% endblock %}

{% block title %}
	EU GDPR Information
{% endblock %}

