{% extends 'base/base.html.twig' %}

{% block body %}
    <h5>Welcome to kikopolis.tech MicroPost platform!!</h5>
	<p>We have a symfony backend together with Vue.js frontend. Browse and enjoy.</p>
	<p>Link to the github if you need it - <a href="https://github.com/kikod4mn/symfony-micro-posts-app" target="_blank">click here.</a></p>
{% endblock %}


