{% extends 'base/base.html.twig' %}

{% block title %}Terms and conditions of MicroPost Social app{% endblock %}

{% block body %}
	<h1>Terms of use for MicroPosts</h1>
	
	<p>Don't bother posting. No one will approve of posts anyway.</p>
	<p>This is a demo application.</p>

{% endblock %}


