{% extends 'base/base.html.twig' %}

{% block title %}Terms and conditions of MicroPost Social app{% endblock %}

{% block body %}
	<h1>No terms yet!</h1>
	<h4>No posting either...</h4>
{% endblock %}


