@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

