<h3>Password change instructions</h3>

Hello {{ user.fullname }}!<br>
Your account has been flagged for a password change by our security. Please follow this link to change your password.<br><br>
<a href="{{ url('change.password.with.token', { 'token': user.passwordResetToken }) }}">Click here</a>