<h3>Password reset link</h3>

Hello {{ user.fullname }}!<br>
If this is not you requesting a password reset link, please login to your account and change the password for security.<br><br>

If this is you then you can change your password by clicking this: <a
		href="{{ url('change.password.with.token', { 'token': user.passwordResetToken }) }}">link</a>