<h3>Welcome to the MicroPost portal!</h3>

Hello {{ user.fullname }}! You have successfully registered!<br><br>

Please confirm your account e-mail first by clicking this: <a href="{{ url('activation.confirm.token', { 'token': user.confirmationToken }) }}">link</a>

To login, go to the <a href="{{ url('login') }}">login page</a>