{% extends 'base.html.twig' %}

{% block title %}404 - Page not found{% endblock %}

{% block body %}
    <h1>Something bad has happened!</h1>
    <p>{{ status_text }}, {{ status_code }}</p>
{% endblock %}